<%- include("partials/partials.dash.header.ejs", { datos : datos })  %>
<!-- <link rel="stylesheet" href="../public/css/estile.css"> -->

<section class="content">
  
  <!-- Default box -->
  <div class="box">
    <div class="box-header with-border bg-purple text-default">
      <h3 class="box-title">Crear productos</h3>
      
        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
            <i class="fa fa-minus"></i></button>
          <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="" data-original-title="Remove">
            <i class="fa fa-times"></i></button>
        </div>
      </div>
      <div class="box-body">
        <div class="row">
            <div class="col-md-6">
                <!-- //columna 1 -->
                <div class="form-group">
                    <label for="number">identificacion de productos</label>
                    <input type="number" class="form-control" id="idproductos" placeholder="Ingrese identificacion">
                  </div>
                  <div class="form-group">
                    <label for="text">descripcion</label>
                    <input type="text" class="form-control" id="descripcion" placeholder="Ingrese una breve descripcion">
                  </div>
                  <!-- <div class="form-group">
                    <label for="password">Contraseña</label>
                    <input type="password" class="form-control" id="descripcion" placeholder="password">
                  </div> -->
            </div>
            <div class="col-md-6">
                <!-- //columna 2 // -->

                <div class="form-group">
                    <label for="text-default">productos</label>
                    <input type="text" class="form-control" id="productos" placeholder="producto">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">precio</label>
                    <input type="number" class="form-control" id="precio" placeholder="$">
                  </div>
                  <!-- <div class="form-group">
                    <label for="password">Confirmar Contraseña</label>
                    <input type="password" class="form-control" id="exampleInputEmail1" placeholder="Enter password">
                  </div> -->
            </div>
        </div>
        <button class="glyphicon glyphicon-education" onclick="GuardarProductos()">
            <i class=""></i>
        </button>
        </div>
      </div>
      <!-- /.box-body -->
      <div class="box-footer">
      </div>
      <div class="box-footer">
      </div>
      <!-- /.box-footer-->
    </div>
    <!-- /.box -->

  </section>
  <!-- <script src="./js/main.productos.js"></script> -->

<%- include("partials/partials.dash.footer.ejs")  %>