<link rel="stylesheet" href="./css/politica.css">

 <div class="modal" id="modal">
    <div class="modal-content">
      <span class="close" id="close" onclick="cerrarModal()">&times;</span>
      <h2>Políticas y Privacidad</h2>
      Aquí puedes agregar el contenido de tus políticas y privacidad
      <p>Política de Privacidad

          Recopilamos información personal como nombre, correo electrónico y teléfono cuando usted nos la proporciona. También recopilamos datos de uso del sitio, como su dirección IP y páginas visitadas.
          
          Utilizamos esta información para mejorar nuestros servicios y personalizar su experiencia en el sitio. No compartimos su información personal con terceros no afiliados, excepto cuando sea necesario para brindarle los servicios que solicita o cuando lo requiera la ley.
          
          Utilizamos cookies y tecnologías similares para recopilar información sobre sus preferencias y actividades en nuestro sitio. Puede optar por no aceptar cookies en la configuración de su navegador, aunque esto puede afectar la funcionalidad del sitio.
          
          No somos responsables del contenido o las prácticas de privacidad de los sitios web de terceros vinculados desde nuestro sitio.
          
          Implementamos medidas de seguridad para proteger su información personal, pero tenga en cuenta que ninguna medida de seguridad es absoluta.
          
          Nos reservamos el derecho de actualizar esta política de privacidad en cualquier momento y le notificaremos de cualquier cambio mediante una publicación en nuestro sitio.
          
          Si tiene preguntas sobre esta política de privacidad, contáctenos [insertar información de contacto].
          
          Última actualización: [insertar fecha].</p>
      
    </div>
  </div>

  <script src="main.js"></script>
<!-- <%- include("partials/partials.dash.header.ejs", { datos : datos })  %>
<%- include("partials/partials.dash.body.ejs")  %>
<%- include("partials/partials.dash.footer.ejs") %> -->

